<div style="height: 100px">
</div>
<div class="container">
  <div style="height: 10vh" class="row">
    <div class="col-lg-12 mx-auto">
      <div style="float: right" class="col-lg-6 mx-auto">
        <angular2-multiselect [data]="roleList"
                              name="dropdown"
                              [(ngModel)]="selectedRoles"
                              [settings]="settingsRole"
                              (onSelect)="onRoleSelect()"
                              (onSelect)="saveId(selectedRoles[0].id)"
                              (onDeSelect)="OnRoleDeSelect()"
                              (onSelectAll)="onSelectAllRoles()"
                              (onDeSelectAll)="onDeSelectAllRoles()">
        </angular2-multiselect>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="height: 10vh" class="row">
    <div class="col-lg-12 mx-auto">
      <div style="float: right" class="col-lg-6 mx-auto">
        <angular2-multiselect [data]="permissionList"
                              name="dropdown2"
                              [(ngModel)]="selectedPermissions"
                              [settings]="settingsPermission"
                              (onSelect)="onPermissionSelect()"
                              (onDeSelect)="OnPermissionDeSelect()"
                              (onSelectAll)="onSelectAllPermissions()"
                              (onDeSelectAll)="onDeSelectAllPermissions()">
        </angular2-multiselect>
      </div>
    </div>
  </div>
</div>

