<div class="row justify-content-center minHeight">
  <div class="col-md-8 text-center align-self-center loginForm">
    <form (ngSubmit)="submitForm()" #formControl="ngForm">
      <div class="form-group">
        <label for="firstNameInput">First Name:</label>
        <input type="text" id="firstNameInput" name="firstName"
               class="form-control" [(ngModel)]="model.firstName"
               required #firstNameElement #firstNameControl="ngModel"
               minlength="3" pattern="^[a-zA-Z0-9]*$"
               [class.isInvalid]="firstNameControl.invalid && firstNameControl.touched">
        <span *ngIf="firstNameControl.invalid && firstNameControl.touched">Should be at least 6 characters long and contain only numbers and letters!</span>
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last Name:</label>
        <input type="text" id="lastNameInput" name="lastName"
               class="form-control" [(ngModel)]="model.lastName"
               required #lastNameElement #lastNameControl="ngModel"
               minlength="3" pattern="^[a-zA-Z0-9]*$"
               [class.isInvalid]="lastNameControl.invalid && lastNameControl.touched">
        <span *ngIf="lastNameControl.invalid && lastNameControl.touched">Should be at least 6 characters long and contain only numbers and letters!</span>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="password"
               class="form-control" [(ngModel)]="model.password"
               required #passwordElement #passwordControl="ngModel"
               minlength="3" pattern="^[a-zA-Z0-9]*$"
               [class.isInvalid]="passwordControl.invalid && passwordControl.touched">
        <span *ngIf="passwordControl.invalid && passwordControl.touched">Should contain only letters and numbers!</span>
      </div>
      <div class="form-group">
        <label for="emailInput">Email:</label>
        <input type="text" id="emailInput" name="email"
               class="form-control" [(ngModel)]="model.email"
               required #emailElement #emailControl="ngModel"
               minlength="3" pattern="^[a-zA-Z0-9/.@]*$"
               [class.isInvalid]="emailControl.invalid && emailControl.touched">
        <span *ngIf="emailControl.invalid && emailControl.touched">Should be at least 6 characters long and contain only numbers and letters!</span>
      </div>
      <div class="form-group">
        <label for="mobileNumberInput">Mobile Number:</label>
        <input type="text" id="mobileNumberInput" name="mobileNumber"
               class="form-control" [(ngModel)]="model.mobileNumber"
               required #mobileNumberElement #mobileNumberControl="ngModel"
               minlength="10" pattern="^[0-9]*$"
               [class.isInvalid]="mobileNumberControl.invalid && mobileNumberControl.touched">
        <span *ngIf="mobileNumberControl.invalid && mobileNumberControl.touched">Should be at least 6 characters long and contain only numbers and letters!</span>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="formControl.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
