<div style="height: 100px"></div>
<div class="container">
  <h2 class="text-center text-uppercase text-secondary mb-0">{{"show.users" | translate}}</h2>
  <hr class="star-dark mb-5">
  <div class="row justify-content-center">
    <div class="col-md-12 mx-auto">
      <table class="table">
        <thead style="background-color: #1a252f; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{'login.username' | translate}}</th>
          <th scope="col">{{'edit.firstname' | translate}}</th>
          <th scope="col">{{'edit.lastname' | translate}}</th>
          <th scope="col">{{'edit.email' | translate}}</th>
          <th scope="col">{{'edit.mobilenr' | translate}}</th>
          <th scope="col">{{'show.status' | translate}}</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
          <td scope="col">{{i + 1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobileNumber}}</td>
          <td>{{user.status}}</td>
          <td><i class="material-icons" (click)="editSelectedUser()">border_color</i>
          </td>
          <td><i class="material-icons">check_box</i></td>
          <td *ngIf="false"><i class="material-icons">check_box_outline_blank</i></td>
          <!--pui un ngIf pe un td-->

        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


