<div class="container">
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Account status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobileNumber}}</td>
      <td>{{user.status}}</td>
      <td> <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
        {{previewPhoto ? "Hide" : "Show"}} Edit User
      </button>
      </td>

    </tr>

    </tbody>
  </table>
</div>

