<div style="height: 100px"></div>
<div class="container">
  <h2 class="text-center text-uppercase text-secondary mb-0">{{'edit.edit' | translate}}</h2>
  <hr class="star-dark mb-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <form name="sentMessage" id="contactForm" autocomplete="off" (ngSubmit)="submitForm()" #formControl="ngForm">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input type="text"
                   id="firstNameInput"
                   name="firstName"
                   class="form-control"
                   [(ngModel)]="model.firstName"
                   #firstNameElement
                   #firstNameControl="ngModel"
                   minlength="3"
                   maxlength="20"
                   pattern="^[a-zA-Z]*$"
                   placeholder="{{'edit.firstname' | translate}}"
                   [class.isInvalid]="firstNameControl.invalid && firstNameControl.touched">
          </div>
          <p style="height: 20px">
            <small class="help-block text-danger"
                   *ngIf="firstNameControl.invalid && firstNameControl.touched && firstNameControl.value != '' &&firstNameControl.value != null">
              {{'edit.message1' | translate}}
            </small>
            <small class="help-block text-info" *ngIf="firstNameControl.value == null || firstNameControl.value == ''">
              {{'edit.message2' | translate}}
            </small>
            <small class="help-block text-info" *ngIf="firstNameControl.valid">{{'edit.message10' | translate}}</small>
          </p>
        </div>


        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input type="text"
                   id="lastNameInput"
                   name="lastName"
                   class="form-control"
                   [(ngModel)]="model.lastName"
                   #lastNameElement
                   #lastNameControl="ngModel"
                   minlength="3"
                   maxlength="20"
                   pattern="^[a-zA-Z]*$"
                   placeholder="{{'edit.lastname' | translate}}"
                   [class.isInvalid]="lastNameControl.invalid && lastNameControl.touched">
          </div>
          <p style="height: 20px">
            <small class="help-block text-danger"
                   *ngIf="lastNameControl.invalid && lastNameControl.touched && lastNameControl.value != '' &&lastNameControl.value != null">
              {{'edit.message3' | translate}}
            </small>
            <small class="help-block text-info" *ngIf="lastNameControl.value == null || lastNameControl.value == ''">
              {{'edit.message2' | translate}}
            </small>
            <small class="help-block text-info" *ngIf="lastNameControl.valid">{{'edit.message11' | translate}}</small>
          </p>
        </div>


        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input type="password"
                   id="passwordInput"
                   name="password"
                   class="form-control"
                   [(ngModel)]="model.password"
                   #passwordElement
                   #passwordControl="ngModel"
                   minlength="6"
                   maxlength="12"
                   pattern="^[a-zA-Z0-9]*$"
                   placeholder="{{'edit.password' | translate}}"
                   [class.isInvalid]="passwordControl.invalid && passwordControl.touched">
          </div>
          <p style="height: 20px">
            <small class="help-block text-danger"
                   *ngIf="passwordControl.invalid && passwordControl.touched && passwordControl.value != '' && passwordControl.value != null">
              {{'edit.message5' | translate}}
            </small>
            <!--<small *ngIf="passwordControl.pristine && passwordControl.value != ''">fsfs</small>-->
            <small class="help-block text-info" *ngIf="passwordControl.value == null || passwordControl.value == ''">
              {{'edit.message4' | translate}}
            </small>
            <small class="help-block text-info" *ngIf="passwordControl.valid">{{'edit.message12' | translate}}</small>
          </p>
        </div>


        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <input type="text"
                       id="emailInput"
                       name="email"
                       class="form-control"
                       [(ngModel)]="model.email"
                       #emailElement
                       #emailControl="ngModel"
                       minlength="14"
                       maxlength="30"
                       pattern="^[A-Za-z0-9._]+@msggroup.com$"
                       placeholder="Email@msggroup.com"
                       [class.isInvalid]="emailControl.invalid && emailControl.touched">
              </div>
              <p style="height: 20px">
                <small class="help-block text-danger"
                       *ngIf="emailControl.invalid && emailControl.touched && emailControl.value != '' &&emailControl.value != null">
                  {{'edit.message6' | translate}}
                </small>
                <small class="help-block text-info" *ngIf="emailControl.value == null || emailControl.value == ''">
                  {{'edit.message7' | translate}}
                </small>
                <small class="help-block text-info" *ngIf="emailControl.valid">{{'edit.message13' | translate}}</small>
              </p>
            </div>
          </div>
          <div class="col-lg-6 mx-auto">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <input type="text"
                       id="Input"
                       name="mobileNumber"
                       class="form-control"
                       [(ngModel)]="model.mobileNumber"
                       #mobileNumberElement
                       #mobileNumberControl="ngModel"
                       minlength="10"
                       maxlength="13"
                       pattern="^[+0-9]*$"
                       placeholder="{{'edit.mobilenr' | translate}}"
                       [class.isInvalid]="mobileNumberControl.invalid && mobileNumberControl.touched">
              </div>
              <p style="height: 20px">
                <small class="help-block text-danger"
                       *ngIf="mobileNumberControl.invalid && mobileNumberControl.touched && mobileNumberControl.value != '' &&mobileNumberControl.value != null">
                  {{'edit.message9' | translate}}
                </small>
                <small class="help-block text-info"
                       *ngIf="mobileNumberControl.value == null || mobileNumberControl.value == ''">
                  {{'edit.message9' | translate}}
                </small>
                <small class="help-block text-info" *ngIf="mobileNumberControl.valid">{{'edit.message14' | translate}}</small>
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div style="height: 10vh" class="row">
            <div class="col-lg-12 mx-auto">
              <div style="float: right" class="col-lg-6 mx-auto">
                <angular2-multiselect [data]="itemList"
                                      name="dropdown"
                                      [(ngModel)]="selectedItems"
                                      [settings]="settings"
                                      (onSelect)="onItemSelect()"
                                      (onDeSelect)="OnItemDeSelect()"
                                      (onSelectAll)="onSelectAll()"
                                      (onDeSelectAll)="onDeSelectAll()">
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
          <button type="submit" style="border-color: #18BC9C; background-color: #18BC9C"
                  [disabled]="formControl.invalid"
                  class="btn btn-primary btn-lg">Update
          </button>
        </div>
      </form>
    </div>
  </div>
      </form>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div style="height: 10vh" class="row">
    <div class="col-lg-10 mx-auto">
      <div style="float: right" class="col-lg-6 mx-auto">
        <angular2-multiselect [data]="itemList"
                              [(ngModel)]="selectedItems"
                              [settings]="settings"
                              (onSelect)="onItemSelect()"
                              (onDeSelect)="OnItemDeSelect()"
                              (onSelectAll)="onSelectAll()"
                              (onDeSelectAll)="onDeSelectAll()">
        </angular2-multiselect>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row justify-content-center">
  <button type="submit" style="border-color: #18BC9C; background-color: #18BC9C"
          class="btn btn-primary btn-lg" [disabled]="formControl.invalid">{{'edit.update' | translate}}
  </button>
</div>
