<div class="row justify-content-center minHeight">
  <div class="col-md-4 text-center align-self-center loginForm">
    <form (ngSubmit)="submitForm()" #formControl="ngForm">
      <fieldset [disabled]="formControl.submitted">
        <div class="form-group">
          <label for="usernameInput">Username:</label>
          <input type="text" id="usernameInput" name="username"
                 class="form-control" [(ngModel)]="model.username"
                 required #usernameElement #usernameControl="ngModel"
                 minlength="6" pattern="^[a-zA-Z0-9]*$"
                 [class.isInvalid]="usernameControl.invalid && usernameControl.touched">
          <span *ngIf="usernameControl.invalid && usernameControl.touched">Should be at least 6 characters long and contain only numbers and letters!</span>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password:</label>
          <input type="password" id="passwordInput" name="password"
                 class="form-control" [(ngModel)]="model.password"
                 required #passwordElement #passwordControl="ngModel"
                 minlength="3" pattern="^[a-zA-Z0-9]*$"
                 [class.isInvalid]="passwordControl.invalid && passwordControl.touched">
          <span *ngIf="passwordControl.invalid && passwordControl.touched">Should contain only letters and numbers!</span>
        </div>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="formControl.invalid">Submit</button>
        </div>
      </fieldset>

    </form>
  </div>
</div>
