<div class="row justify-content-center">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">User information</div>

      <div>
        <div>
          <table class="table table-striped">
            <thead>
            <tr>FILTERS</tr>
            </thead>
            <tr>
              <td>Title</td>
              <td>Version</td>
              <td>FixedVersion</td>
              <td>DueDate</td>
              <td>Severity</td>
              <td>Creted by</td>
              <td>Assigned To</td>
              <td>Status</td>
            </tr>

            <tr>
              <td><input [(ngModel)]="titleFilter" placeholder="name"></td>
              <td><input [(ngModel)]="versionFilter" placeholder="name"></td>
              <td><input [(ngModel)]="fixedVersionFilter" placeholder="name"></td>
              <td><input [(ngModel)]="dueDateFilter" placeholder="name"></td>
              <td><input [(ngModel)]="severityFilter" placeholder="name"></td>
              <td><input [(ngModel)]="creatorFilter" placeholder="name"> </td>
              <td><input [(ngModel)]="assigneeFilter" placeholder="name"> </td>
              <td><input [(ngModel)]="statusFilter" placeholder="name"></td>
            </tr>

          </table>
        </div>

        <table class="table table-striped">
          <thead style="background-color: #1a252f; color: white">
          <tr>
            <th style="width: 35%" (click)="sortTable('title')">
              Title
            </th>
            <th style="width: 5%" (click)="sortTable('version')">
              Version
            </th>
            <th style="width: 5%" (click)="sortTable('fixedInVerison')">
              Fixed In
            </th>

            <th style="width: 5%" (click)="sortTable('dueDate')">
              Due Date
            </th>

            <th style="width: 5%" (click)="sortTable('severity')">
              Severity
            </th>

            <th style="width: 10%" (click)="sortTable('creator')">
              Created by
            </th>

            <th style="width: 10%" (click)="sortTable('assignee')">
              Assigned to
            </th>

            <th style="width: 5%" (click)="sortTable('status')">
              Status
            </th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td>{{item.title}}</td>
            <td>{{item.version}}</td>
            <td>{{item.fixedInVersion}}</td>
            <td>{{item.dueDate}}</td>
            <td>{{item.severityType}}</td>
            <td>{{item.creator.firstName}}</td>
            <td>{{item.assignee.firstName}}</td>
            <td>{{item.status}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <button (click)="onNext()"> Next</button>
              <button (click)="onPrev()"> Previous</button>
              <button (click)="doQuery()"> doQuerry</button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
